<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutyu.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="com.yutyu.domain.News">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="newsTypeId" column="news_type_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="INTEGER"/>
            <result property="isPublished" column="is_published" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="fabuTime" column="fabu_time" jdbcType="TIMESTAMP"/>
            <result property="zanCount" column="zan_count" jdbcType="INTEGER"/>
            <result property="readCount" column="read_count" jdbcType="INTEGER"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,news_type_id,title,
        content,image,is_published,
        created_time,fabu_time,zan_count,
        read_count,author
    </sql>
</mapper>
