<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutyu.mapper.ScheduleMapper">

    <resultMap id="BaseResultMap" type="com.yutyu.domain.Schedule">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="team" column="team" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="result1" column="result1" jdbcType="INTEGER"/>
            <result property="result2" column="result2" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,city,team,
        time,result1,result2
    </sql>
</mapper>
